<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<arg name="on_rviz" default="false"/>
	<arg name="model_name" default="viman"/>
	<!--
		0: normal
		1: z linear
		2: z linear and rotation
		3: environment 2
	-->
	<arg name="nav" default="0"/>				
	
	<arg name="rvizconfig" 
		value="$(find viman_visualize)/config/flight_mode.rviz" />
	
	<arg name="debug" value="false"/>
	<arg name="gui" value="true"/>
	<arg name="paused" value="true"/>
	<arg name="use_sim_time" value="true"/>
	<arg name="world" value="$(find viman_visualize)/worlds/open_sky.world" if = "$(eval arg('nav')!=3)"/>
	<arg name="world" value="$(find viman_visualize)/worlds/env2.world" if = "$(eval arg('nav')==3)"/>
	
	<!-- Launching the world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="verbose" value="true"/>
	</include>
	
	<param name="robot_description" 
		 command="$(find xacro)/xacro $(find viman_visualize)/urdf/$(arg model_name).xacro" />
	
	<node name="spawner" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model $(arg model_name) -param robot_description"
		/>
	<node 
		name="rviz" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(arg rvizconfig)"
		if="$(arg on_rviz)"/>
	
	<group if = "$(eval arg('nav')==1)">
		<param name="cy_stack_desc" 
		 command="$(find xacro)/xacro $(find viman_visualize)/urdf/cy_linear.xacro"/>
	
		<node name="cy_stack_spawner" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model cy_stack -param cy_stack_desc"
		/>

		<node name="urdf_spawner" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model $(arg model_name) -param robot_description"
		/>

	</group>

	<group if = "$(eval arg('nav')==2)">
		<param name="cy_stack_desc" 
		 command="$(find xacro)/xacro $(find viman_visualize)/urdf/cy_lin_rot.xacro"/>
	
		<node name="cy_stack_spawner" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model cy_stack -param cy_stack_desc"
		/>

		<node name="urdf_spawner" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model $(arg model_name) -param robot_description"
		/>

	</group>

	<group if = "$(eval arg('nav')==3)">
		<param name="task1_gate_desc" 
		 	command="$(find xacro)/xacro $(find viman_visualize)/urdf/task1_gate.xacro" />
		<param name="vmpad_desc" 
		 	command="$(find xacro)/xacro $(find viman_visualize)/urdf/vmpad.xacro" />
		
		<node name="spawn_task1_gate" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model task1_gate -param task1_gate_desc -x 3 -y 3 -z 5"
		/>

		<node name="spawn_vmpad" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model vmpad -param vmpad_desc -z 3"
		/>

		<node name="urdf_spawner" 
			pkg="gazebo_ros"
			type="spawn_model" 
			respawn="false"
			output="screen"
			args="-urdf -model $(arg model_name) -param robot_description -z 3.08"
		/>

	</group>

</launch>
