<?xml version="1.0" encoding="utf-8"?>

<robot name="cy_lin_rot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro to define cylinder stack links 
       Input parameters: 
          yaw : angle to rotate current link wrt connectedTo (rotation about Z; multiples of 30 deg)
          level: level of cylinder stack
          color : color of the link
          id : id of current cylinder part
          connectedTo : id of link to which this link is connected
  -->
  <xacro:macro name="cy_stack" params="yaw level id connectedTo color">        
        
    <link name="l0_${id}">
      <inertial>
        <origin
          xyz="-0.47271 0.2 -0.12666"
          rpy="0 0 0" />
        <mass
          value="8.1901" />
        <inertia
          ixx="0.15142"
          ixy="3.11E-16"
          ixz="0.011238"
          iyy="0.045502"
          iyz="1.1913E-16"
          izz="0.11249" />
      </inertial>
      <visual>
        <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
        <mesh
        filename="package://viman_visualize/meshes/cy_stack_part.STL" />
        </geometry>
      </visual>
      <collision>
        <origin
        xyz="0 0 0"
        rpy="0 0 0" />
        <geometry>
        <mesh
        filename="package://viman_visualize/meshes/cy_stack_part.STL" />
        </geometry>
      </collision>              
    </link>
          
    <joint name="l0_${id}_jnt" type="fixed">
      <parent link="l0_${connectedTo}"/>
      <child link="l0_${id}"/>
      <origin rpy="0 0 ${yaw}" xyz="0 0 ${level*0.4}"/>
    </joint>

    <gazebo reference="l0_${id}">
      <material>Gazebo/${color}</material>
    </gazebo>

  </xacro:macro>   

  <link name="l0_1">
    <inertial>
      <origin
        xyz="-0.47271 0.2 -0.12666"
        rpy="0 0 0" />
      <mass
        value="8.1901" />
      <inertia
        ixx="0.15142"
        ixy="3.11E-16"
        ixz="0.011238"
        iyy="0.045502"
        iyz="1.1913E-16"
        izz="0.11249" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://viman_visualize/meshes/cy_stack_part.STL" />
      </geometry>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://viman_visualize/meshes/cy_stack_part.STL" />
      </geometry>
    </collision>
  </link>
  
  <gazebo reference="l0_1">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Level 0 -->
  <xacro:cy_stack yaw="${radians(60)}" level="0" color="Green" id="a" connectedTo="1"/>
  <xacro:cy_stack yaw="${radians(60)}" level="0" color="Red" id="b" connectedTo="a"/>
  <xacro:cy_stack yaw="${radians(60)}" level="0" color="Yellow" id="c" connectedTo="b"/>
  <xacro:cy_stack yaw="${radians(60)}" level="0" color="Blue" id="d" connectedTo="c"/>
  <xacro:cy_stack yaw="${radians(60)}" level="0" color="Purple" id="e" connectedTo="d"/>
  
  <!-- Level 1 -->
  <xacro:cy_stack yaw="0" level="1" color="Red" id="f" connectedTo="1"/>
  <xacro:cy_stack yaw="0" level="1" color="Yellow" id="g" connectedTo="b"/>
  <xacro:cy_stack yaw="${radians(30)}" level="1" color="Purple" id="h" connectedTo="e"/>
  <xacro:cy_stack yaw="${radians(30)}" level="1" color="Green" id="i" connectedTo="d"/>
  <xacro:cy_stack yaw="${radians(30)}" level="1" color="Blue" id="j" connectedTo="e"/>

   <!-- Level 2 -->
  <xacro:cy_stack yaw="${radians(30)}" level="2" color="Green" id="k" connectedTo="1"/>
  <xacro:cy_stack yaw="${radians(30)}" level="2" color="Yellow" id="l" connectedTo="b"/>
  <xacro:cy_stack yaw="${radians(45)}" level="2" color="Purple" id="m" connectedTo="c"/>
  <xacro:cy_stack yaw="${radians(30)}" level="2" color="Red" id="n" connectedTo="d"/>
  <xacro:cy_stack yaw="${radians(30)}" level="2" color="Blue" id="o" connectedTo="e"/>

  <!-- Level 3 -->
  <xacro:cy_stack yaw="${radians(20)}" level="3" color="Yellow" id="p" connectedTo="1"/>
  <xacro:cy_stack yaw="${radians(30)}" level="3" color="Blue" id="q" connectedTo="a"/>
  <xacro:cy_stack yaw="${radians(45)}" level="3" color="Green" id="r" connectedTo="b"/>
  <xacro:cy_stack yaw="${radians(40)}" level="3" color="Red" id="s" connectedTo="c"/>
  <xacro:cy_stack yaw="${radians(30)}" level="3" color="Purple" id="t" connectedTo="d"/>

</robot>