<?xml version="1.0" encoding="utf-8"?>

<robot name="viman" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Sensor properties -->
  <xacro:property name="cam_origin_offset" value="0 -0.03 0.01"/>
  <xacro:property name="camera_dimensions" value="0.01 0.01 0.01"/>
  
  <xacro:property name="altimeter_origin_offset" value="0 0 0.015"/>
  <xacro:property name="altimeter_dimensions" value="0.005 0.005 0.002"/>
  
  <xacro:property name="imu_origin_offset" value="0 0 0.017"/>
  <xacro:property name="imu_dimensions" value="0.005 0.005 0.002"/>
  
  <!-- Macro to define propeller links -->
  <!-- Input parameters: propeller ID, pose of the joint, xyz of CoM -->
  <xacro:macro name="propeller_link" params="id com xyz rpy">        
        
        <link name="propeller_${id}">
			<inertial>
			  <origin
				xyz="${com}"
				rpy="0 0 0" />
			  <mass
				value="0.0014789" />
			  <inertia
				ixx="1.0387E-06"
				ixy="8.0084E-24"
				ixz="6.4155E-08"
				iyy="1.0638E-06"
				iyz="-3.0356E-23"
				izz="3.1098E-08" />
			</inertial>
			<visual>
			  <origin
				xyz="0 0 0"
				rpy="0 0 0" />
			  <geometry>
				<mesh
				  filename="package://viman_visualize/meshes/propeller.STL" />
			  </geometry>
			  <material
				name="">
				<color
				  rgba="1 1 1 1" />
			  </material>
			</visual>
			<collision>
			  <origin
				xyz="0 0 0"
				rpy="0 0 0" />
			  <geometry>
				<mesh
				  filename="package://viman_visualize/meshes/propeller.STL" />
			  </geometry>
			</collision>              
        </link>
        
        <joint name="propeller_${id}_joint" type="fixed">
            <parent link="viman_base_link"/>
            <child link="propeller_${id}"/>
            <origin rpy="${rpy}" xyz="${xyz}"/>
            <axis xyz="0 1 0" />
        </joint>
        
        <gazebo reference="propeller_${id}">
			<material>Gazebo/White</material>
		</gazebo>
                 
  </xacro:macro>   
	
  <link name="viman_base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.6" />
      <inertia
        ixx="3.294E-05"
        ixy="-2.7157E-10"
        ixz="-4.6663E-08"
        iyy="7.1306E-05"
        iyz="5.2755E-10"
        izz="4.617E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://viman_visualize/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://viman_visualize/meshes/base_link_collision.STL" />
      </geometry>
    </collision>
  </link>
  
  <gazebo reference="viman_base_link">
	<material>Gazebo/Yellow</material>
  </gazebo>
  
  <xacro:propeller_link id="1" com="0 0.0027273 -1.3878E-17" xyz="-0.085003 -0.084703 0.0305" rpy="1.5708 0 -1.9677"/>
  <xacro:propeller_link id="2" com="0 0.0027273 2.0817E-17" xyz="0.084703 -0.085003 0.0305" rpy="1.5708 0 -0.60712"/>
  <xacro:propeller_link id="3" com="-2.7756E-17 -0.00027271 0" xyz="0.085003 0.084703 0.0335" rpy="1.5708 0 1.1739"/>
  <xacro:propeller_link id="4" com="2.7756E-17 -0.00027271 2.7756E-17" xyz="-0.084703 0.085003 0.0335" rpy="1.5708 0 2.5345"/>
  
  <link name="altimeter">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
		<box size="${altimeter_dimensions}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${altimeter_dimensions}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link> 
  <joint name="altimeter_joint" type="fixed">
    <origin xyz="${altimeter_origin_offset}" rpy="0 0 0"/>
    <parent link="viman_base_link"/>
    <child link="altimeter"/>
  </joint>
  <gazebo reference="altimeter">
	<material>Gazebo/SkyBlue</material>
  </gazebo>
  
  <link name="camera">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
		<box size="${camera_dimensions}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="${camera_dimensions}"/>
      </geometry>
      <material name="red"/>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link> 
  <joint name="camera_joint" type="fixed">
    <origin xyz="${cam_origin_offset}" rpy="0 0 -1.5708"/>
    <parent link="viman_base_link"/>
    <child link="camera"/>
  </joint>
  
  <link name="imu_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
		<box size="${imu_dimensions}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
		<box size="${imu_dimensions}"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link> 
  <joint name="imu_joint" type="fixed">
    <origin xyz="${imu_origin_offset}" rpy="0 0 0"/>
    <parent link="viman_base_link"/>
    <child link="imu_link"/>
  </joint>
  <gazebo reference="imu_link">
	<material>Gazebo/Purple</material>
  </gazebo>
  
  
  <!-- Flight plugin -->
  <gazebo>
    <plugin name='viman_flight' filename='libplugin_viman_flight.so'>
        <bodyName>viman_base_link</bodyName>
        <imuTopic>/viman/imu</imuTopic>
        <rollpitchProportionalGain>10.0</rollpitchProportionalGain>
        <rollpitchDifferentialGain>5.0</rollpitchDifferentialGain>
        <rollpitchLimit>0.5</rollpitchLimit>
        <yawProportionalGain>2.0</yawProportionalGain>
        <yawDifferentialGain>1.0</yawDifferentialGain>
        <yawLimit>1.5</yawLimit>
        <velocityXYProportionalGain>5.0</velocityXYProportionalGain>
        <velocityXYDifferentialGain>2.3</velocityXYDifferentialGain>
        <velocityXYLimit>2</velocityXYLimit>
        <velocityZProportionalGain>5.0</velocityZProportionalGain>
        <velocityZDifferentialGain>1.0</velocityZDifferentialGain>
        <velocityZLimit>-1</velocityZLimit>
        <positionXYProportionalGain>1.1</positionXYProportionalGain>
        <positionXYDifferentialGain>0.0</positionXYDifferentialGain>
        <positionXYIntegralGain>0.0</positionXYIntegralGain>
        <positionXYLimit>5</positionXYLimit>
        <positionZProportionalGain>1.0</positionZProportionalGain>
        <positionZDifferentialGain>0.2</positionZDifferentialGain>
        <positionZLimit>-1</positionZLimit>
        <maxForce>30</maxForce>
        <motionSmallNoise>0.05</motionSmallNoise>
        <motionDriftNoise>0.03</motionDriftNoise>
        <motionDriftNoiseTime>5.0</motionDriftNoiseTime>
    </plugin> 
  </gazebo>
    
  <!-- Camera: plugin -->
  <gazebo reference="camera">
	<material>Gazebo/Red</material>  
    <sensor type="camera" name="vm_frnt_cam">
      <update_rate>30.0</update_rate>
      <camera name="vm_frnt_cam">
        <horizontal_fov>1.3</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>30</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>30.0</updateRate>
        <cameraName>viman/vm_frnt_cam</cameraName>
        <imageTopicName>image</imageTopicName>
        <cameraInfoTopicName>vm_frnt_cam_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.01</distortionK1>
        <distortionK2>0.02</distortionK2>
        <distortionK3>0.01</distortionK3>
        <distortionT1>0.03</distortionT1>
        <distortionT2>0.04</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
 
  <!-- Altimeter plugin -->
  <gazebo>
	  <plugin name='altimeter_plugin' filename='libplugin_altimeter.so'>
		<bodyName>altimeter</bodyName>
		<frameId>altimeter</frameId>
		<altimeterTopicName>/viman/height</altimeterTopicName>
		<noise>0.0</noise>
	  </plugin>
  </gazebo>
    
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>/viman/imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo>
  
  
</robot>

